/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  margin: 0;
}

a {
  color: #394a6e;
}

body {
  margin: 0px;
  padding: 0px;
}

.material-icons {
  text-decoration: none;
  cursor: pointer;
  padding-right: 8px;
  color: white;
}

:root {
  --mdc-theme-primary: #394a6e;
  --mdc-theme-secondary: #394a6e;
}

.mdc-text-field--focused
  .mdc-text-field__input:required
  ~ .mdc-notched-outline
  .mdc-floating-label::after,
.mdc-drawer .mdc-list-item--activated,
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic,
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: #394a6e;
}

#loginLogo {
  max-width: 80px;
}

#login-div-esq,
#login-div-dir {
  height: 100%;
  position: absolute;
  z-index: 1;
}

#login-div-esq {
  width: 45%;
}

#login-div-dir {
  width: 55%;
}

#login-div-esq {
  left: 0;
  background-image: url("/public/images/login-bg.jpg");
  background-size: cover;
}

#login-div-dir {
  right: 0;
  background-color: #f9f9f9;
}

#login-container {
  text-align: center;
  z-index: 5;
  position: relative;
  width: 100%;
}

#login-header,
#login-form,
#registro-form {
  width: 80%;
  display: inline-block;
  vertical-align: top;
}

#login-header {
  margin-top: 10%;
}

.divForm {
  margin-top: 18px;
}

.inputForm {
  width: 300px;
  padding-top: 10px;
}

.buttonForm {
  height: 54px;
  width: 300px;
  margin-top: 18px;
}

#registroVoltar {
  margin-top: 18px;
}

.containerWrapper {
  border-radius: 8px;
  border: 1px solid #dadce0;
  margin: 8% 25%;
  text-align: center;
  vertical-align: center;
}

.containerForm {
  text-align: left;
  margin: 0 15px 0 15px;
}

.containerForm h6 {
  padding-left: 5px;
}

.containerForm p {
  margin: 0;
}

.containerForm div.linebreak {
  margin: 15px 0px 0px 0px;
  width: 100%;
  border-top: 1px solid #dadce0;
}

.containerForm .formFooter {
  margin-bottom: 18px;
}

.containerForm .formFooter .buttonForm {
  width: 100%;
}

.containerForm div.mdc-select,
.containerForm div.mdc-text-field,
.containerForm div.mdc-text-field input {
  width: 100%;
}

.invisible {
  display: none;
}

@media (max-width: 1000px) {
  #login-div-esq {
    display: none;
  }
  #login-div-dir {
    width: 100%;
  }
  .containerWrapper {
    width: 96%;
    margin: 2%;
  }
  .divForm,
  .buttonForm {
    text-align: center;
    width: 70%;
  }
}

@media (max-width: 800px) {
  .divForm,
  .buttonForm {
    width: 100%;
  }
}
